<!DOCTYPE html>
<html ng-app="app">
<head lang="fr">
  <!-- angular js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Bootstrap js (after jquery dependency) -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/angular-toggle-switch.min.js"></script>

  <!-- angular UI bootstrap -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

  <!-- Google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Own JS -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/ctrl.js"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link href="css/angular-toggle-switch-bootstrap-3.css" rel="stylesheet"/>

  <!-- Angular css -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"/>

  <!-- own css -->
  <link rel="stylesheet" type="text/css" href="css/home.css" media="all">

  <meta charset="UTF-8">
  <title>Électricien Alan Legros - Alan Électricité</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="description" content="Alan Legros, entrepreneur électricien offrant des services en éléctricité, vidéo surveillance, alarme et rénovation.">
  <meta name="keywords" content="électricien, électricité, entrepreneur, Saint-saëns, Paris, rénovation, Normandie, Seine-Maritime, 76, Rouen, vidéo surveillance, alarme, rénovation">
  <!-- <link rel="canonical" href="<WebsiteLink>"> -->
  <meta property="og:locale" content="en_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Électricien Alan Legros - Alan Électricité">
  <meta property="og:description" content="Alan Legros, entrepreneur électricien offrant des services en éléctricité, vidéo surveillance, alarme et rénovation.">
  <!-- <meta property="og:url" content="<WebsiteLink>"> -->
  <meta property="og:site_name" content="Alan Électricité">
  <meta property="og:image" content="image/logo.png">
  <meta property="og:image:secure_url" content="image/logo.png">
  <!-- <link rel="shortlink" href="<WebsiteLink>"> -->
  <!-- icon -->
  <!-- <link rel="icon"  href="<IconLink>" type="image/logo.png"> -->
</head>
<body>
  <div class="branding">
    <div class="branding-content">
      <a href="#" class="branding-info"><img id="logo" class="home-logo" src="image/logo.png" alt="Alan Électricité"></a>
    </div>
    <div class="branding-content">
      <h1 id="name" class="branding-name">Alan Legros</h1>
      <a href="#"><img id="banner" class="home-logo branding-info" src="image/logo4.png" alt="Alan Électricité"></a>
    </div>
    <div class="branding-content">
      <div class="branding-coordonnees">
        <span class="branding-icon glyphicon glyphicon-earphone"></span>
        <p id="tel">06 76 12 55 52</p>
      </div>
      <div class="branding-coordonnees">
        <span class="branding-icon	glyphicon glyphicon-envelope"></span>
        <p id="mail">legrosalan76000@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="banner">Électricité - Alarme - Vidéosurveillance - Travaux de rénovation</div>
  <div class="content" ng-controller="AppCtrl">
    <md-content class="md-padding">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('accueil')" name="accueil">
          Accueil
        </md-nav-item>
        <md-nav-item md-nav-click="goto('contact')" name="contact">
          Contact
        </md-nav-item>
        <md-nav-item md-nav-click="goto('services')" name="electricite">
          Électricité
        </md-nav-item>
        <md-nav-item md-nav-click="goto('services')" name="alarmeintrusion">
          Alarme anti-intrusion
        </md-nav-item>
        <md-nav-item md-nav-click="goto('services')" name="alarmeincendie">
          Alarme anti-incendie
        </md-nav-item>
        <md-nav-item md-nav-click="goto('services')" name="videosurveillance">
          Vidéosurveillance
        </md-nav-item>
        <md-nav-item md-nav-click="goto('services')" name="autres">
          Autres prestations
        </md-nav-item>
      </md-nav-bar>
      <div class="ext-content" ng-if="currentNavItem==='accueil'">
        <div ng-controller="CarouselCtrl" class="slides_control">
          <uib-carousel interval="myInterval">
            <uib-slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}">
              <div class="carousel-title">
                <h4>{{slide.title}}</h4>
              </div>
            </uib-slide>
          </uib-carousel>
          Située à SAINT-SAENS en Seine Maritime, l’entreprise ALAN ELECTRICITE gérée par LEGROS Alan, est spécialisée dans le domaine de l’électricité, l’installation d’alarme anti-intrusion, anti- incendie et de vidéosurveillance. </br>
          L’entreprise vous garantie un travail de qualité par ses devis personnalisés, ses conseils ainsi qu’un travail consciencieux.</br>
          Elle s’adresse aux particuliers comme aux professionnels, réponds aux demandes et besoins de chacun avec le même professionnalisme.</br>
          L’entreprise propose également d’autres services : pose de placostil et isolation intérieure ainsi que de la rénovation intérieure, de cuisine et de salle de bain.</br>
        </div>
      </div>
      <div class="ext-content" ng-if="currentNavItem==='contact'">
        LEGROS Alan</br>
        06 76 12 55 52</br>
        legrosalan76000@gmail.com

        <!-- TODO (plan mappy pour situer l’entreprise, un plan où les personne peuvent bouger sur la carte) -->
      </div>
      <div class="ext-content" ng-if="currentNavItem==='electricite'">
        Réalisation d’installation électrique en fonction de vos besoins que ce soit dans du neuf ou pour de la rénovation, pour du particulier ou des professionnels.
        <ul>
          <li>Pose d’éclairage LED intérieur et extérieur = réduction des coûts, éclairage haute qualité, basse consommation.</li>
          <li>Domotique = ensemble des techniques de gestion automatisée appliquée à l’habitation et locaux professionnels afin de vous apporter du confort, de la sécurité et une communication à distance avec une connexion à votre Smartphone.</li>
          <li>Pose de chauffage au sol électrique basse consommation, de radiateur électrique nouvelle génération (réduction des coûts d’environ 30%, radiateur haute qualité, basse consommation).</li>
          <li>Motorisation en neuf ou rénovation de volets roulants, de portail (moteur enterré et bras) et de porte de garage. Toutes peuvent être si possible connectés par domotique.</li>
          <li>Pour les professionnels : réalisation de pieuvres électriques et d’armoires industrielles.</li>
        </ul>
      </div>
      <div class="ext-content" ng-if="currentNavItem==='alarmeintrusion'">
        Installation d’alarme anti-intrusion pour vous rassurer et sécuriser votre maison contre les cambriolages.</br>
        <ul>
          <li>Alarme filaire (avec passage de câble) ou sans fil. Peuvent être extérieur et/ou intérieur.</li>
          <li>Surveillance 24h/24 de votre maison  grâce à la domotique (système connecté accessible à distance par Smartphone).</li>
          <li>Mise en place si souhaité de systèmes autonomes qui se déclenchent en cas d’intrusion (aboiement chien, voix, canon de brouillard … etc).</li>
        </ul>
      </div>
      <div class="ext-content" ng-if="currentNavItem==='alarmeincendie'">
        L’alarme incendie est aussi appelée SSI (Système de Sécurité Incendie).</br>
        Pour les professionnels étant des ERP (Etablissements Recevant du Public), installer un SSI est obligatoire pour assurer la sécurité des personnes se trouvant dans le bâtiment.</br>
        La réglementation française précise quels sont les équipements à installer selon le type d’ERP, ainsi que les obligations régentant la présence des équipements de sécurité dans le bâtiment.</br>
        Il est possible pour les particuliers qui souhaite se prémunir contre les incendies d’installer chez vous une alarme anti-incendie. </br>
      </div>
      <div class="ext-content" ng-if="currentNavItem==='videosurveillance'">
        Installation de caméras ou dômes IP (protocole internet = mise en réseau). Ce sont des caméras dernière génération avec des images de qualité.</br>
        Grâce à la domotique vous pouvez avoir accès aux images de votre domicile, cours, locaux… 24h/24.</br>
        En fonction des besoins et des budgets il est possible de mettre différents types de caméras avec différentes résolution, taille, infra rouge … </br>
        Ces caméras sont reliées à un stockeur (enregistrement des images possible), auquel un écran peut être associé.</br>
      </div>
      <div class="ext-content" ng-if="currentNavItem==='autres'">
        Pose de placostil dans du neuf ou de la rénovation.</br>
        Pose isolation (laine de verre, de roche, de bois).</br>
        Rénovation intérieur : pose de parquet, sols stratifiés …</br>
        Pose de cuisine : installations des meubles, de l’électroménager, branchement des appareils.</br>
        Pose de salle de bain : installation des meubles, des vasques, bacs de douche, baignoires.</br>
      </div>
    </md-content>
  </div>
</body>
