<!DOCTYPE html>
<html ng-app="app">
<head lang="fr">
  <!-- angular js -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Bootstrap js (after jquery dependency) -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/angular-toggle-switch.min.js"></script>

  <!-- angular UI bootstrap -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

  <!-- Google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Own JS -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/ctrl.js"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link href="css/angular-toggle-switch-bootstrap-3.css" rel="stylesheet"/>

  <!-- Angular css -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"/>

  <!-- own css -->
  <link rel="stylesheet" type="text/css" href="css/home.css" media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <title>Électricien Alan Legros - Alan Électricité</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="description" content="Alan Legros, entrepreneur électricien offrant des services en électricité, vidéo surveillance, alarme et rénovation.">
  <meta name="keywords" content="électricien, électricité, entrepreneur, Alan, Legros, Saint-saëns, Paris, rénovation, Normandie, Seine-Maritime, 76, Rouen, vidéo surveillance, alarme, rénovation">
  <link rel="canonical" href="http://wwww.alanelectricite.fr">
  <meta property="og:locale" content="en_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Électricien Alan Legros - Alan Électricité">
  <meta property="og:description" content="Alan Legros, entrepreneur électricien offrant des services en électricité, vidéo surveillance, alarme et rénovation.">
  <meta property="og:url" content="http://wwww.alanelectricite.fr">
  <meta property="og:site_name" content="Alan Électricité">
  <meta property="og:image" content="image/logo.png">
  <meta property="og:image:secure_url" content="image/logo.png">
  <link rel="shortlink" href="http://wwww.alanelectricite.fr">
  <!-- icon -->
  <link rel="icon"  href="image/logo.png" type="image/logo.png">
</head>
<body>
  <div class="app">
    <div class="branding">
      <div class="branding-content">
        <a href="#" class="branding-info"><img id="logo" class="home-logo" src="image/logo.png" alt="Alan Électricité"></a>
      </div>
      <div class="branding-content">
        <h1 id="name" class="branding-name">Alan Legros</h1>
        <a href="#"><img id="banner" class="home-logo branding-info" src="image/logo4.png" alt="Alan Électricité"></a>
      </div>
      <div class="branding-content">
        <div class="branding-coordonnees">
          <span class="branding-icon glyphicon glyphicon-earphone"></span>
          <p id="tel">06 76 12 55 52</p>
        </div>
        <div class="branding-coordonnees">
          <span class="branding-icon	glyphicon glyphicon-envelope"></span>
          <p id="mail">legrosalan76000@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="banner">Électricité - Alarme - Vidéo surveillance - Travaux de rénovation</div>
    <div class="content" ng-controller="AppCtrl">
      <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-click="goto('accueil')" name="accueil">
            Accueil
          </md-nav-item>
          <md-nav-item md-nav-click="goto('services')" name="services">
            Services
          </md-nav-item>
          <md-nav-item md-nav-click="goto('contact')" name="contact">
            Contact
          </md-nav-item>
        </md-nav-bar>
        <div class="ext-content" ng-if="currentNavItem==='accueil'">
          <div ng-controller="CarouselCtrl" class="slides_control">
            <uib-carousel interval="myInterval">
              <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" class="carousel-image">
                <div class="carousel-title">
                  <h4>{{slide.title}}</h4>
                </div>
              </uib-slide>
            </uib-carousel>
          </div>
          <div class="section">
            <div class="section-title">Présentation</div>
            <div class="section-content">
              <div class="section-text">
                Située à Saint-Saëns en Seine-Maritime à 30 minutes de <span class="bold">Rouen</span>, l’entreprise ALAN ELECTRICITE gérée par <strong>LEGROS Alan</strong>, est spécialisée dans le domaine de l’électricité, l’installation d’alarme anti-intrusion, anti-incendie et de vidéo-surveillance. </br>
                Nous vous garantissons un travail de qualité par des <span class="bold">devis personnalisés</span>, des conseils ainsi qu’un travail consciencieux.</br>
                Nous nous adressons aux particuliers comme aux professionnels, répondons aux demandes et besoins de chacun avec le même professionnalisme.</br>
                Nous vous proposons également d’autres services comme la pose de placostil et d'isolation intérieure ainsi que la rénovation intérieure, de cuisine et de salle de bain.</br>
              </div>
            </div>
          </div>
        </div>
        <div class="ext-content" ng-if="currentNavItem==='services'">
          <div class="section shadow">
            <div class="section-title">Électricté</div>
            <div class="section-content">
              <div class="section-text">
                Réalisation d’installations électriques en fonction de vos besoins que ce soit pour un logement neuf ou en rénovation, pour des particuliers ou professionnels.
                <ul>
                  <li>Pose d’éclairage LED intérieur et extérieur basse consommation réduisant les coûts et fournissant un éclairage haute qualité.</li>
                  <li>Domotique = ensemble des techniques de gestion automatisée appliquée à l’habitation et locaux professionnels afin de vous apporter du confort, de la sécurité et une communication à distance avec une connexion à votre Smartphone.</li>
                  <li>Pose de chauffage au sol électrique basse consommation, de radiateur électrique nouvelle génération (réduction des coûts d’environ 30 %, radiateur haute qualité, basse consommation).</li>
                  <li>Motorisation de volets roulants neufs ou déjà existants, de portail (moteur enterré et bras) et de porte de garage. Toutes ces installations peuvent être également connectées par domotique.</li>
                  <li>Pour les professionnels : réalisation de pieuvres électriques et d’armoires industrielles.</li>
                </ul>
              </div>
              <div class="section-image section-image-electricite">
                <img alt="Électricité" src="image/electricite.JPG">
              </div>
            </div>
          </div>
          <div class="section shadow">
            <div class="section-title">Alarme intrusion</div>
            <div class="section-content">
              <div class="section-text">
                Installation d’alarme anti-intrusion pour vous <span class="bold">rassurer et sécuriser</span> votre maison contre les cambriolages.</br>
                <ul>
                  <li>Alarme filaire (avec passage de câble) ou sans fil, en intérieur et/ou en extérieur.</li>
                  <li><span class="bold">Surveillance 24/24</span> de votre maison grâce à la domotique (système connecté accessible à distance par Smartphone).</li>
                  <li>Mise en place possible de systèmes autonomes qui se déclenchent en cas d’intrusion (aboiement de chien, voix, canon de brouillard … etc).</li>
                </ul>
              </div>
              <div class="section-image">
                <img alt="Alarme" src="image/alarme1.JPG">
              </div>
            </div>
          </div>
          <div class="section shadow">
            <div class="section-title">Alarme incendie</div>
            <div class="section-content">
              <div class="section-text">
                L’alarme incendie est aussi appelée SSI (Système de Sécurité Incendie).</br>
                Pour les professionnels étant des ERP (Etablissements Recevant du Public), installer un SSI est obligatoire pour assurer la sécurité des personnes se trouvant dans le bâtiment.</br>
                La réglementation française précise quels sont les équipements à installer selon le type d’ERP, ainsi que les obligations régentant la présence des équipements de sécurité dans le bâtiment.</br>
                Il est possible pour les particuliers qui souhaitent se prémunir contre les incendies d’installer chez vous une alarme anti-incendie. </br>
             </div>
            </div>
          </div>
          <div class="section shadow">
            <div class="section-title">Vidéo surveillance</div>
            <div class="section-content">
              <div class="section-text">
                Installation de <span class="bold">caméras ou dômes IP</span> (protocole internet = mise en réseau). Ce sont des caméras dernière génération avec des images de qualité.</br>
                Grâce à la domotique vous pouvez avoir accès aux images de votre domicile, cours, locaux… 24/24.</br>
                En fonction des besoins et des budgets il est possible de mettre différents types de caméras avec différentes résolutions, tailles, infra rouge … </br>
                Ces caméras sont reliées à un stockeur (enregistrement des images possibles), auquel un écran peut être associé.</br>
              </div>
            </div>
          </div>
          <div class="section shadow">
            <div class="section-title">Autres prestations</div>
            <div class="section-text">
              <ul>
                <li>Pose de placostil dans des bâtiments neufs ou en rénovation.</li>
                <li>Pose d'isolation (laine de verre, de roche, de bois).</li>
                <li>Rénovation intérieure : pose de parquet, sols stratifiés, etc.</li>
                <li>Pose de cuisine : installations des meubles, de l’électroménager et branchement des appareils.</li>
                <li>Pose de salle de bain : installation des meubles, des vasques, bacs de douche et baignoires.</li>
              </ul>
            </div>
            <div class="images-cote">
              <img alt="Rénovation" src="image/placo3.JPG" class="image-cote">
              <img alt="" src="image/placo4.JPG" class="image-cote">
            </div>
            <div class="images-cote">
              <img alt="" src="image/portail1.jpg" class="image-cote">
              <img alt="" src="image/sdb3.JPG" class="image-cote">
            </div>
          </div>
        </div>
        <div class="ext-content" ng-if="currentNavItem==='contact'">
          <div class="section">
            <div class="section-title">Contacts</div>
            <div class="section-content">
              <div class="section-text">
                N’hésitez pas à nous contacter pour tous renseignements.</br>
                Ainsi que pour effectuer un devis sur mesure par rapport à vos besoins.</br>
                Par téléphone : 06 76 12 55 52</br>
                Par mail : legrosalan76000@gmail.com</br>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="section-title">EURL ALAN ELECTRICITE</div>
            <div class="section-content">
              <div class="section-text">
                SIRET : 83357363700018</br>
                <!-- Capital social : 1 500 euros</br> -->
                N° TVA intracommunautaire : FR 07 833573637</br>
              </div>
            </div>
          </div>
          <!-- <div class="section">
            <div class="section-title">Localisation</div>
            <img alt="Normandie" src="image/localisation.JPG">
          </div> -->
          <!-- TODO (plan mappy pour situer l’entreprise, un plan où les personne peuvent bouger sur la carte) -->
        </div>
      </md-content>
    </div>
  </div>
</body>
