body {
  height: 100%;
  width: 100%;
  min-width: 333px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* Branding */

.home-logo {
  max-width: 100px;
}

.branding {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.branding-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 0;
  text-align: center;
}

.branding-name {
  margin-top: 0;
}

.branding-coordonnees {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.branding-icon {
  padding-right: 10px;
}

.banner {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Navbar and content */

.content {
  width: 100%;
}

md-content .ext-content {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 20px;
}

md-content {
  background: white;
}

md-nav-bar md-nav-ink-bar {
  background: black;
}

.md-button.md-accent {
  color: black;
}

ul._md-nav-bar-list {
  padding-left: 40px;
  padding-right: 40px;
}

.md-nav-bar {
  max-width: 92%;
  margin: auto;
}

/* Carousel */

img {
  margin: auto;
  width: 100%;
}

ol.carousel-indicators > li.ng-scope {
  margin-right: 5px;
  margin-left: 5px;
}

.carousel-title.ng-scope {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 52px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

/* Responsive Design mobile */
@media screen and (max-width: 700px) {

  /* Branding */

  .home-logo {
    max-width: 70px;
  }

  /* Navbar and content */

  md-content .ext-content {
    padding: 20px;
    margin: 0px;
  }

  ul._md-nav-bar-list {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md-nav-bar {
    max-width: 100%;
  }

}
